@model IPagedList<BlogListViewModel>

<div id="blogList">
    <div class="pagedList" data-blog-target="#blogList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var blog in Model)
    {
        <div style="margin-bottom: 20px">
            @*
                Create a link with blog.Title as the text, to the detail method, in the Blogs controller, 
                with the parameter blog.id, and null for http attributes
            *@
            <div style="font-weight: bold">@Html.ActionLink(blog.Title, "detail", "blog", new { blog.Id }, null)</div>
            <div>@blog.Content</div>
            <div>@blog.PostDate.HasValue | @Html.ActionLink(string.Format("{0} comments", blog.CommentCount), "detail", "blog", new { blog.Id }, null)</div>
        </div>
    }
</div>