@model IEnumerable<Blogs.Web.Models.BlogListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Add Blog", "Create", "Blog")    
}

    
<form action="@Url.Action("Index")" data-blog-ajax="true" data-blog-ajax-target="#blogList">
    <input type="search" name="searchTerm" data-blog-autocomplete="@Url.Action("BlogSearch")"/>
    <input type="submit" value="Search"/>
</form>

@Html.Partial("_Blogs", Model)